/* Write your code here */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: stretch;
  justify-items: stretch;
}
body {
  font-size: 18px;
}
h1 {
  font-size: 5rem;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
button {
  background: #1fba96;
  padding: 20px 40px;
  font-size: 1.3rem;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}
button:hover {
  background: #178c71;
}
#load_by_js,
#load_by_fetch {
  justify-self: center;
}
.output_by_js,
.output_by_fetch {
  border: 1px solid #000;
  min-height: 30vh;
}
.output_by_js p,
.output_by_fetch p {
  background-color: #d0d0d0;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
}
.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: stretch;
  justify-items: stretch;
}
.users p {
  grid-column-start: 1;
  grid-column-end: 3;
}
.users button {
  justify-self: center;
  padding: 10px 20px;
}
.bg_red {
  background: #b90101;
}
.bg_blue {
  background: #0172b9;
}
.save-edit {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 20px;
  margin: 15px auto;
  justify-content: center;
}
.save-edit input {
  min-width: 20vw;
}
.hidden {
  display: none;
}

.spinner {
  content: "LOADING";
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
